body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: center;
}


h1{
    font-size: 25px;
    margin-top: 15px;
}

#species-type{
    margin:10px 0;
}

button{
    padding:  10px 12px;
    margin : 8px;
    border:none;
    cursor: pointer;
    background-color: #2f84de;
    color: white;
    border-radius: 8px;
}

button:hover{
    background-color: #0452a5;
}

#characters-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

.character-card{
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    
    text-align: left;
    border: 1px solid black;
}

.character-card h2{
    margin: 7px 0;
    font-size: 20px;
}

.character-card p{
    margin: 7px 0 ;
    font-size: 15px;
}

.character-card button{
    width: 40%;
    margin-top: 15px;
}

.character-card .delete-btn{
    background-color: red;
}

.character-card .delete-btn:hover{
    background-color: #dad428;
}

.character-card .edit-btn{
    background-color: green ;
}

.character-card .edit-btn:hover{
    background-color: #097825;
}

#species-select{
    padding : 10px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 7px;
    background-color: white;
    color: black;
    border: 1px seagreen;
}

#species-select option{
    background-color: white;
    color: black;
    padding: 7px;
}

